* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-gold: #ffb940;
  --primary-black: #222831;
  --myGray: #aaaaaa;
  --background-light: #f7f6f3;
  --text-dark: #222831;
  --text-light: #bfc3c7;
}
body {
  height: 1000px;
}

header {
  position: sticky;
  top: 3px;
  z-index: 99;
}
nav {
  background-color: var(--text-light);
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px 50px;
}

.logo {
  /*logo in header*/
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url(../images/LogoCroppedNoBg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

nav ul {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  list-style: none;
  gap: 20px;
}
nav ul li a {
  color: var(--primary-black);
  transition: 0.3s;
}
nav ul li a:hover {
  color: var(--primary-gold);
  text-decoration: none;
  transition: 0.3s;
}
nav button {
  background-color: var(--primary-black);
  color: var(--text-light);
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  cursor: pointer;
  transition: 0.3s;
}
nav button:hover {
  background-color: var(--primary-gold);
  color: var(--text-dark);
  transition: 0.3s;
}
main {
  position: relative;
  transform: translateY(-15%);
  z-index: 3;
  height: 110vh;
  background-color: #222831;
}
.coverText {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-15%, -30%);
  font-family: sans-serif;
  color: var(--myGray);
}
.imageContainer {
  width: 230px;
  height: 230px;
  background-color: var(--myGray);

  position: absolute;
  bottom: 20%;
  right: 100;
  border-radius: 50%;
  outline: var(--primary-gold) 2px solid;
  overflow: visible;
  margin-top: 10px;
}
.coverImg {
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
  transform: translateY(-80px);
}
.coverImg::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 400px;
  background-image: url(../images/meNoBg.png);
  background-position: center;
  background-size: cover;
  z-index: 4;
  transform: translate(10%, -15%);
}

.imageContainer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  pointer-events: none;
  z-index: 10;
}
.arrowDiv {
  position: absolute;
  top: 20%;
  left: 45%;
  /* transform: translate(-50%, -50%); */
  color: white;
  text-align: center;
  animation-name: arrowDiv;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.arrowDiv p {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.arrowDiv i {
  font-size: 50px;
}

@keyframes arrowDiv {

  50% {
    transform: translateX(30%);
    color: var(--primary-gold);
    font-size: 1.5rem;
  }
 
}
